*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:#fff;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(0,0,0,.7);
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:red;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    height:100vh;
    background:url("ladakh.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:28px;
}

.hero h2{
    font-size:60px;
    color:red;
    margin:15px 0;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:14px 30px;
    background:red;
    color:#fff;
    text-decoration:none;
    border-radius:30px;
}
